.container {
    padding: 2rem 1.5rem;
    margin: 20px 20px 20px 0;
    height: calc(100vh - 40px);
    width: calc(100% - 20px);
    background: #fcf6f9c7;
    border: 3px solid #FFFFFF;
    border-radius: 32px;
}