.navigation {
    padding: 2rem 1.5rem;
    margin: 20px 20px;
    height: calc(100vh - 40px);
}

.user-container img {
    background-color: #fcf6f9;
    border: 2px solid #ffffff;
    box-shadow: 0 1px 17px rgba(0, 0, 0, 0.06);
}

.user-details h2 {
    color: rgba(34, 34, 96, 1)
}

.user-details p {
    color: rgba(34, 34, 96, 0.6)
}

.menu-items a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

i {
    color: rgba(51, 51, 125, 0.6);
    font-size: 1.4rem;
    transition: all .4s ease-in-out;
}

.nav-item {
    padding: 0 12px;
    cursor: pointer;
    position: relative;
    color: rgba(34, 34, 96, 1);
}

.nav-item.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 90%;
    background-color: #222260;
    border-radius: 0 4px 4px 0;
}

.active {
    color: rgba(34, 34, 96, 1);

    i {
        color: rgba(34, 34, 96, 1);

    }
}